*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: block;
    width: fit-content;
}

a:hover {
    text-decoration: underline;
}
